<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ELASTIC_ROOT_FOLDER" Name="ElasticsearchSetup">
          <Directory Id="ELASTIC_CONFIG_FOLDER" Name="config" />
          <Directory Id="ELASTIC_LIB_FOLDER" Name="lib" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
